
@{
    ViewBag.Title = "GreskaEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/Content/Stilizacija.css" rel="stylesheet" />
}
    <br />
<h2>Greška</h2>

<p>Ne možete da dodate tog igrača, on već igra na takmičenju.</p>

@Html.ActionLink("Nazad na igrace", "Index", null, new { @class = "btn btn-warning" })

