
@{
    ViewBag.Title = "Greska";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/Content/Stilizacija.css" rel="stylesheet" />
}
<br />
<h2>Greška</h2>

<p>Reprezentacija odabrane zemlje već učestvuje na takmičenju.</p>

@Html.ActionLink("Nazad na listu", "Index", null, new { @class = "btn btn-warning" })

